[package]
name = "infrastructure"
version = "0.1.0"
edition = "2024"

[dependencies]
shared = { workspace = true }
tracing = { workspace = true }

sqlx = { workspace = true, features = [
    "runtime-tokio-rustls",
    "postgres",
    "uuid",
    "chrono",
] }
deadpool-redis = { workspace = true }
