apiVersion: v1
kind: Service
metadata:
  name: api-service
  namespace: rs-service-dev
  labels:
    app: api
    environment: dev
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: api
    environment: dev
